/* global.css */
* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  width: 100%;
  -webkit-text-size-adjust: 100%; 
}

button, 
a, 
input[type="button"], 
input[type="submit"] {
  min-height: 44px;
  min-width: 44px;
}

img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  body {
    height: auto !important;
  }
}